.page-title-wrapper {
  position: relative;

  .background-banner {
    position: absolute;
    height: 14rem;
    background: #3f51b5;
    width: 100%;
  }

  .title {
    height: 8rem;
  }

  mat-toolbar{
      position: relative;
  }
}
