

mat-sidenav-container {
    height: calc(100vh - 65px);
  
    @media (max-width: 599px) {
      height: calc(100vh - 56px);
    }
  
    mat-sidenav {
      // padding: 2rem;
      width: 300px;
      border-right: none;
      background: rgba(15, 23, 42);
      color: white;
      text-align: center;
    }
  }
  