.side-nav-container {
    margin: 2rem 0;
    .menu-button {
      width: calc(100% - 24px);
      height: 44px;
      //   padding: 0 2rem;
      margin: 0 12px 4px 12px;
      display: flex;
      align-items: center;
      
      justify-content: flex-start;
      font-size: 1rem;
  
      mat-icon {
        margin-right: 8px;
      }
  
      &.active{
          background-color: rgba(255, 255, 255, 0.12);
      }
    }
  }
  